<h1>Page Home</h1>

<form (ngSubmit)="goToProfile()">
  <label  for="user"></label>
  <input (input)="checkName()" [(ngModel)]="userName" id="user" type="text" name="user">
  @if (userError){
  <p style="color: red;">
    {{ userError }}
  </p>
  }

  <label for="psw"></label>
  <input (input)="checkPsw()" [(ngModel)]="password" type="password" id="psw" name="psw">

  @if (passwordError){
    <p style="color: red;">
      {{ passwordError }}
    </p>
  }
  <button type="submit" > Se connecter</button>
</form>



Niveau 1
Ajouter un formulaire sur le composant home qui permet à l'utilisateur de saisir un login et un mot de passe, en utilisant simplement des directives ngModel et click sur le bouton Accéder à mon profil (ou un ngSubmit sur le formulaire)
Le login doit faire au moins trois caractères, le mot de passe au moins 6 caractères (faire un controle de surface basique, sans validateur)
Changer l'intitulé du bouton Accéder à mon profil en Se connecter et vérifier l'intégrité des données saisies avant la redirection.
Si des erreurs existent dans le formulaire, afficher un message d'erreur en dessous du formulaire expliquant la raison de l'erreur (toujours sans validateur)
